<form class="row" (ngSubmit)="emitcharacter()" >
    <h4>Agregar Personaje</h4>
    <input type="text" [(ngModel)]="character.name" class="form-control mb-2" placeholder="Nombre" name="name">
    <input type="number" [(ngModel)]="character.power" class="form-control mb-2" placeholder="Poder" name="power">

    <button type="submit" class="btn btn-primary">
      Agregar
    </button>

    <!-- Ejemplo de caracter de tuberia o pipe seguida de JSON. -->
    <!-- <pre>{{ character | json }}</pre> -->

  </form>
